[submodule "includes/bfi_thumb"]
	path = includes/bfi_thumb
	url = https://github.com/bfintal/bfi_thumb.git
[submodule "includes/redux-framework"]
	path = includes/redux-framework
	url = https://github.com/ReduxFramework/redux-framework.git
        branch = tags/3.2.2
[submodule "includes/--force"]
	path = includes/--force
	url = https://github.com/bfintal/bfi_thumb.git
[submodule "includes/lessphp"]
	path = includes/lessphp
	url = https://github.com/leafo/lessphp.git
