/*********************
 *
 * EXTRA SLIDER
 *
 ********************/
.extra-slider {
	overflow: visible;
}
.extra-slider,
.extra-slider .wrapper {
	margin: 0 auto;
	position: relative;
}
.extra-slider .wrapper {
	overflow: hidden;
}
.extra-slider .wrapper > ul {
	display: block;
	list-style: none;
	position: relative;
}
.content .extra-slider li:before {
	display: none;
}
/* SLIDE TRANSITION */
.extra-slider-slide .wrapper > ul > li {
	display: block;
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
.extra-slider-slide .wrapper > ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* FADE TRANSITION */
.extra-slider-fade .wrapper > ul > li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0; left: 0;
}
/* DRAGGABLE */

.extra-slider-draggable {
	cursor: url(../img/drag-cursor-up.png), url(../img/drag-cursor-up.cur), e-resize;
}
.extra-slider-draggable.mouseDown {
	cursor: url(../img/drag-cursor-down.png), url(../img/drag-cursor-down.cur), e-resize;
}
/*********************
 *
 * EXTRA MOSAIC
 *
 ********************/
.extra-mosaic li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.content .extra-mosaic li:before {
	display: none;
}
/*********************
 *
 * CLEANERS
 *
 ********************/
.extra-mosaic:after,
.extra-slider .wrapper > ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}